{% load dajaxice_templatetags %}{% load cache %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
   {#
	#===============================================================================
	# This file is part of PyPWSafe.
	#
	#    PyPWSafe is free software: you can redistribute it and/or modify
	#    it under the terms of the GNU General Public License as published by
	#    the Free Software Foundation, either version 2 of the License, or
	#    (at your option) any later version.
	#
	#    PyPWSafe is distributed in the hope that it will be useful,
	#    but WITHOUT ANY WARRANTY; without even the implied warranty of
	#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	#    GNU General Public License for more details.
	#
	#    You should have received a copy of the GNU General Public License
	#    along with PyPWSafe.  If not, see http://www.gnu.org/licenses/old-licenses/gpl-2.0.html 
	#===============================================================================
	#}
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/media/base.css" title="stylesheet"/>
		<script type="text/javascript" src="/media/jquery-1.4.4.min.js"></script> 
		<script src="/media/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
		{% dajaxice_js_import %}
		{% block imports %}{% endblock %}
		{% include "ga.html" %}			
	</head>
	<body>
		<div class="wrap">
			<div id="main">
				<div class="leftColumn">
					<ul class="nav">	
						<li>Main</li>
							<li><a href="/">Home</a></li>
							<!-- Insert more links here -->
					</ul>			
					<ul class="nav">
						<li>My Account</li>
							{% if user.is_authenticated %}
									{% if user.is_staff %}
										<li><a href="/admin/">Admin</a></li>
										<!-- Insert more links here -->
									{% endif %}
									<li><a href="/accounts/profile/">Edit Profile</a></li>		
									<li><a href="/accounts/changepassword/">Change Password</a></li>			
									<li><a href="/accounts/logout/">Logout</a></li>					
							{% else %}						
									<li><a href="/accounts/register/">Register</a></li>
									<li class="alt"><a href="/password_reset/">Reset Password</a></li>
							{% endif %}
							<!-- Insert more links here -->
					</ul>
					{% if user.is_authenticated %}
						<ul class="nav">
							<li>ABC</li>
								<!-- Insert more links here -->
						</ul>
					{% endif %}			
					<ul class="nav nohover">
						<li>Misc</li>
							{% block quick %}{% endblock %}
					</ul>
				</div>
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="rightColumn">			
							{% block body %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
		
